/* ToDo Completed Class */
.completed {
    text-decoration: line-through;
}

/* ToDo Not Completed Class */
.notCompleted {
    text-decoration: none;
}


.title,.text-muted{
    color: rgb(5, 75, 22);
}



@media (min-width: 768px) {
    .form-horizontal .control-label {
      padding-top: 7px;
      margin-bottom: 0;
      text-align: right;
    }
  }
  .form-horizontal .has-feedback .form-control-feedback {
    right: 15px;
  }
  @media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label {
      padding-top: 11px;
      font-size: 18px;
    }
  }
  @media (min-width: 768px) {
    .form-horizontal .form-group-sm .control-label {
      padding-top: 6px;
      font-size: 12px;
    }
  }