/* ToDo Completed Class */
.completed {
    text-decoration: line-through;
}

/* ToDo Not Completed Class */
.notCompleted {
    text-decoration: none;
}


.title{
    color: rgb(5, 75, 22);
    
}

.text-muted{
  color: rgb(5, 75, 22);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  
}

.footer{
  text-align: center;
}
.btn-primary{
  margin: 14px;

}



body footer.footer {
  background-color: rgb(5, 75, 22);
  width: 100%;
  padding: 0;
  padding-top: 0.3em;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  color: #ffffff;
}
footer.footer .upper-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* padding-top: 1em;*/
  padding-bottom: 1em;
  width: 100%;
  background-color: rgb(5, 75, 22);
}

.upper-footer a {
  font-size: 50px;
  display: block;
  margin: 0em 0.5em 0em 0.5em;
  color: #ffffff;
  transition-duration: 0.4s;
}

.upper-footer a:hover {
  color: black;
  cursor: pointer;
}



@media (min-width: 768px) {
    .form-horizontal .control-label {
      padding-top: 7px;
      margin-bottom: 0;
      text-align: right;
    }
  }
  .form-horizontal .has-feedback .form-control-feedback {
    right: 15px;
  }
  @media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label {
      padding-top: 11px;
      font-size: 18px;
    }
  }
  @media (min-width: 768px) {
    .form-horizontal .form-group-sm .control-label {
      padding-top: 6px;
      font-size: 12px;
    }
  }
